.gallery {
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
}

.gallery__list {
  display: flex;
  column-gap: 30px;
  padding: 0;
}
.gallery__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.gallery__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33px;
  text-align: center;
  width: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 5px;
  left: 0px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-bottom: 27px;
  padding-top: 27px;
}
